USE [master]
GO

CREATE DATABASE [QLBanDoThoiTrang]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLBanDoThoiTrang].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLBanDoThoiTrang]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tAnhChiTietSP](
	[MaChiTietSP] [int] IDENTITY(1,1) NOT NULL,
	[TenFileAnh] [nvarchar](255) NOT NULL,
	[ViTri] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTietSP] ASC,
	[TenFileAnh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tAnhSP](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[TenFileAnh] [nvarchar](255) NOT NULL,
	[ViTri] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC,
	[TenFileAnh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tChiTietHoaDonBan](
	[MaHoaDonBan] [int] NOT NULL,
	[MaChiTietSP] [int] NOT NULL,
	[DonGiaBan] [decimal](18, 2) NULL,
	[SoLuongBan] [int] NULL
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tChiTietSanPham](
	[MaChiTietSP] [int] IDENTITY(1,1) NOT NULL,
	[MaSP] [int] NOT NULL,
	[KichThuoc] [nvarchar](50) NULL,
	[MauSac] [nvarchar](50) NULL,
	[AnhDaiDien] [nvarchar](255) NULL,
	[SLTon] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTietSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tDanhGia](
	[MaDanhGia] [int] IDENTITY(1,1) NOT NULL,
	[MaKhachHang] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[Ngaytao] [datetime] NOT NULL,
	[Diem] [int] NOT NULL,
	[BinhLuan] [nvarchar](max) NULL,
	[MaNhanVien] [int] NULL,
	[TraLoi] [nvarchar](max) NULL,
	[LichSu] [nvarchar](max) NULL,
 CONSTRAINT [PK_tDanhGia] PRIMARY KEY CLUSTERED 
(
	[MaDanhGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tDanhMucSP](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[TenSP] [nvarchar](100) NULL,
	[ChatLieu] [nvarchar](100) NULL,
	[LoaiDT] [nvarchar](100) NULL,
	[HangSX] [nvarchar](100) NULL,
	[ThoiGianBaoHanh] [int] NULL,
	[GioiThieuSP] [nvarchar](max) NULL,
	[AnhDaiDien] [nvarchar](255) NULL,
	[Gia] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TempUserOtp](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[OtpCode] [nvarchar](7) NULL,
	[OtpExpiration] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TGiaoHang](
	[MaGiaoHang] [int] IDENTITY(1,1) NOT NULL,
	[MaHoaDonBan] [int] NULL,
	[ThanhPho] [nvarchar](50) NULL,
	[QuanHuyen] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](300) NULL,
	[SoDienThoai] [nchar](10) NULL,
	[HoTenNguoiNhan] [nvarchar](200) NULL,
 CONSTRAINT [PK_TGiaoHang] PRIMARY KEY CLUSTERED 
(
	[MaGiaoHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tGioHang](
	[MaGioHang] [int] IDENTITY(1,1) NOT NULL,
	[MaKhachHang] [int] NOT NULL,
	[MaChiTietSP] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGioHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tHoaDonBan](
	[MaHoaDonBan] [int] IDENTITY(1,1) NOT NULL,
	[NgayHoaDon] [datetime] NULL,
	[MaKhachHang] [int] NULL,
	[TongTienHD] [decimal](18, 2) NULL,
	[PhuongThucThanhToan] [nvarchar](100) NULL,
	[GhiChu] [nvarchar](max) NULL,
	[MaGiamGia] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDonBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tKhachHang](
	[MaKhachHang] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[TenKhachHang] [nvarchar](100) NULL,
	[NgaySinh] [date] NULL,
	[SoDienThoai] [nvarchar](20) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[GhiChu] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tMaGiamGia](
	[MaGiamGia] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](50) NULL,
	[TiLeGiam] [decimal](3, 2) NULL,
	[MoTa] [nvarchar](max) NULL,
	[NgayBatDau] [datetime] NULL,
	[NgayKetThuc] [datetime] NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_tMaGiamGia] PRIMARY KEY CLUSTERED 
(
	[MaGiamGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tNhanVien](
	[MaNhanVien] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[TenNhanVien] [nvarchar](100) NULL,
	[NgaySinh] [date] NULL,
	[ChucVu] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tPhanHoi](
	[MaKhachHang] [int] IDENTITY(1,1) NOT NULL,
	[MaDanhGia] [int] NOT NULL,
	[Thich] [int] NULL,
	[HuuIch] [int] NULL
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tUser](
	[Email] [nvarchar](50) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[Salt] [nvarchar](50) NULL,
	[LoaiUser] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tAnhChiTietSP]  WITH CHECK ADD  CONSTRAINT [FK_AnhChiTietSP_ChiTietSP] FOREIGN KEY([MaChiTietSP])
REFERENCES [dbo].[tChiTietSanPham] ([MaChiTietSP])
GO
ALTER TABLE [dbo].[tAnhChiTietSP] CHECK CONSTRAINT [FK_AnhChiTietSP_ChiTietSP]
GO
ALTER TABLE [dbo].[tAnhSP]  WITH CHECK ADD  CONSTRAINT [FK_AnhSP_DanhMucSP] FOREIGN KEY([MaSP])
REFERENCES [dbo].[tDanhMucSP] ([MaSP])
GO
ALTER TABLE [dbo].[tAnhSP] CHECK CONSTRAINT [FK_AnhSP_DanhMucSP]
GO
ALTER TABLE [dbo].[tChiTietHoaDonBan]  WITH CHECK ADD  CONSTRAINT [FK_tChiTietHoaDonBan_tChiTietSanPham] FOREIGN KEY([MaChiTietSP])
REFERENCES [dbo].[tChiTietSanPham] ([MaChiTietSP])
GO
ALTER TABLE [dbo].[tChiTietHoaDonBan] CHECK CONSTRAINT [FK_tChiTietHoaDonBan_tChiTietSanPham]
GO
ALTER TABLE [dbo].[tChiTietHoaDonBan]  WITH CHECK ADD  CONSTRAINT [FK_tChiTietHoaDonBan_tHoaDonBan] FOREIGN KEY([MaHoaDonBan])
REFERENCES [dbo].[tHoaDonBan] ([MaHoaDonBan])
GO
ALTER TABLE [dbo].[tChiTietHoaDonBan] CHECK CONSTRAINT [FK_tChiTietHoaDonBan_tHoaDonBan]
GO
ALTER TABLE [dbo].[tDanhGia]  WITH CHECK ADD  CONSTRAINT [FK_tDanhGia_tDanhMucSP] FOREIGN KEY([MaSP])
REFERENCES [dbo].[tDanhMucSP] ([MaSP])
GO
ALTER TABLE [dbo].[tDanhGia] CHECK CONSTRAINT [FK_tDanhGia_tDanhMucSP]
GO
ALTER TABLE [dbo].[tDanhGia]  WITH CHECK ADD  CONSTRAINT [FK_tDanhGia_tKhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[tKhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[tDanhGia] CHECK CONSTRAINT [FK_tDanhGia_tKhachHang]
GO
ALTER TABLE [dbo].[tDanhGia]  WITH CHECK ADD  CONSTRAINT [FK_tDanhGia_tNhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[tNhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[tDanhGia] CHECK CONSTRAINT [FK_tDanhGia_tNhanVien]
GO
ALTER TABLE [dbo].[TGiaoHang]  WITH CHECK ADD  CONSTRAINT [FK_TGiaoHang_THoaDonBan] FOREIGN KEY([MaHoaDonBan])
REFERENCES [dbo].[tHoaDonBan] ([MaHoaDonBan])
GO
ALTER TABLE [dbo].[TGiaoHang] CHECK CONSTRAINT [FK_TGiaoHang_THoaDonBan]
GO
ALTER TABLE [dbo].[tGioHang]  WITH CHECK ADD FOREIGN KEY([MaChiTietSP])
REFERENCES [dbo].[tChiTietSanPham] ([MaChiTietSP])
GO
ALTER TABLE [dbo].[tGioHang]  WITH CHECK ADD FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[tKhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[tHoaDonBan]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonBan_KhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[tKhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[tHoaDonBan] CHECK CONSTRAINT [FK_HoaDonBan_KhachHang]
GO
ALTER TABLE [dbo].[tHoaDonBan]  WITH CHECK ADD  CONSTRAINT [FK_tHoaDonBan_tMaGiamGia] FOREIGN KEY([MaGiamGia])
REFERENCES [dbo].[tMaGiamGia] ([MaGiamGia])
GO
ALTER TABLE [dbo].[tHoaDonBan] CHECK CONSTRAINT [FK_tHoaDonBan_tMaGiamGia]
GO
ALTER TABLE [dbo].[tKhachHang]  WITH CHECK ADD  CONSTRAINT [FK_KhachHang_User] FOREIGN KEY([Email])
REFERENCES [dbo].[tUser] ([Email])
GO
ALTER TABLE [dbo].[tKhachHang] CHECK CONSTRAINT [FK_KhachHang_User]
GO
ALTER TABLE [dbo].[tNhanVien]  WITH CHECK ADD  CONSTRAINT [FK_tNhanVien_tUser] FOREIGN KEY([Email])
REFERENCES [dbo].[tUser] ([Email])
GO
ALTER TABLE [dbo].[tNhanVien] CHECK CONSTRAINT [FK_tNhanVien_tUser]
GO
ALTER TABLE [dbo].[tPhanHoi]  WITH CHECK ADD  CONSTRAINT [FK_tPhanHoi_tDanhGia] FOREIGN KEY([MaDanhGia])
REFERENCES [dbo].[tDanhGia] ([MaDanhGia])
GO
ALTER TABLE [dbo].[tPhanHoi] CHECK CONSTRAINT [FK_tPhanHoi_tDanhGia]
GO
ALTER TABLE [dbo].[tPhanHoi]  WITH CHECK ADD  CONSTRAINT [FK_tPhanHoi_tKhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[tKhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[tPhanHoi] CHECK CONSTRAINT [FK_tPhanHoi_tKhachHang]
GO
USE [master]
GO
