@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    string _currentSortType = "sort_Stars";
    int _currentPage = 1;
}

<div id="rvStats"></div>

@if (ViewBag.utype == "KhachHang")
{
    <div id="rvMaker"></div>
}

<div class="globalaction">
    <ul class="filter">
        <li class="sortopt" id="sort_Stars"><i class='bx bxs-star-half'></i><span> Cao nhất</span></li>
        <li class="sortopt" id="sort_Date"><i class='bx bxs-hot'></i><span> Mới nhất</span></li>
        <li class="sortopt" id="sort_Helpful"><i class='bx bxs-badge-check'></i><span> Hữu ích</span></li>
    </ul>
    <label class="refresh" id="refresh"><span>Làm mới </span><i class='bx bx-refresh'></i></label>
</div>

<div id="rvList"></div>

<div class="alertactionresult">
    <i class='bx bx-x' id="alerticon"></i>
    <p class="alertmessage">This is a test. Nothing to notice about</p>
</div>

<script>
    var _pid = @ViewBag.pid;

    var _currentSortType = "sort_Stars";
    var _currentPage = 1;

    function ajaxStats() {
        $.ajax({
            url: '@Url.Action("GetStatsPV", "Review")',
            data: { pid: _pid },
            success: function (response) {
                $("div#rvStats").html(response)
            }
        });
    }
    function ajaxMaker() {
        $.ajax({
            url: '@Url.Action("GetMakerPV", "Review")',
            data: { pid: _pid },
            success: function (response) {
                $("div#rvMaker").html(response);
            }
        });
    }
    function ajaxList() {
        $.ajax({
            url: '@Url.Action("GetListPV", "Review")',
            data: { pid: _pid, sortType: _currentSortType, pageNum: _currentPage },
            success: function (response) {
                $("div#rvList").html(response);
            }
        });
    }

    (function () {
        ajaxStats();
        ajaxMaker();
        ajaxList();
        $(".alertactionresult").hide();
    })();
    $("li.sortopt").click(function (e) {
        $("li.sortopt").each(function (index, elem) {
            $(elem).css("backgroundColor", "");
            $(elem).css("color", ""); 
        });
        $(this).css("backgroundColor", "#7971ea"); 
        $(this).css("color", "white");

        _currentSortType = $(this).attr("id");
        _currentPage = 1;
        ajaxList();
    });
    $("label#refresh").click(function (e) {
        ajaxList();
    });

    function alertResult(type) {
        $("#alerticon").removeClass('bx-x bx-check bx-circle');
        switch (type[0]) {
            case 'S': 
                $("#alerticon").addClass('bx-check');
                $('.alertactionresult').css('border-right', 'solid 5px limegreen'); 
                break;
            case 'W': 
                $("#alerticon").addClass('bx-circle'); 
                $('.alertactionresult').css('border-right', 'solid 5px gold');
                break;
            case 'E': 
                $("#alerticon").addClass('bx-x'); 
                $('.alertactionresult').css('border-right', 'solid 5px tomato');
                break;
            default: 
                $("#alerticon").addClass('bx-x');
                $('.alertactionresult').css('border-right', 'solid 5px tomato');
                break;
        }

        var msg;
        switch (type) {
            case "SACT": msg = "Thao tác thành công"; break;
            case "WUNS": msg = "Hãy mua sản phẩm này để đánh giá"; break;
            case "WRFP": msg = "Chưa chọn số sao đánh giá"; break;
            case "WRFC": msg = "Độ dài bình luận tối đa 1000 kí tự"; break;
            case "WRNE": msg = "Đánh giá không có sự thay đổi"; break;
            case "WRNC": msg = "Bình luận này không thể để trống"; break;
            case "EUNP": msg = "Tài khoản không có quyền hạn này"; break;
            case "ERNI": msg = "Không thể tìm thấy đánh giá"; break;
            case "EDTB": msg = "Lỗi hệ thống lưu trữ dữ liệu. Liên hệ CSKH"; break;
            default: msg = "Không xác định"; break;
        }
        $(".alertmessage").html(msg);

        $('.alertactionresult').show();
        setTimeout(function () {
            $('.alertactionresult').fadeOut(500);
        }, 2000);
    }
</script>
