@model Fashion_Web.ViewModels.ForgotPasswordViewModel

@{
    ViewData["Title"] = "Quên mật khẩu";
    Layout = "~/Views/Shared/LoginLayout.cshtml";
}
<br />
<br />
<h2>Nhập Email đã đăng ký</h2>
<br />
<br />
<div>
    <form method="post" asp-controller="Account" asp-action="ForgotPassword">
        <div class="mb-3">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div>
            <span class="text-danger">
                @Html.ValidationSummary(true)
            </span>
        </div>
        <div class="d-flex justify-content-between align-items-sm-center">
            <a class="text-primary fw-bold ms-2" asp-action="Login" asp-controller="Account" style="cursor:pointer">Hủy</a>
            <button type="submit" class="btn btn-primary">Xác Nhận</button>
        </div>
    </form>
</div>
<script>
    sessionStorage.setItem("countdown", 30);
</script>